.gifCard{
    max-width: 550px !important;
    background: radial-gradient(circle, rgba(123,162,193,1) 0%, rgba(249,188,178,1) 100%) !important;
    padding: 20px 30px !important;
    border-radius: 20px  20px 20px 0!important;
position: relative !important;
list-style-type: none !important;
color: #002d72;
margin-bottom: 2rem !important;
margin-left: 19rem !important;
margin: 30px;
/* display: flex !important;
justify-content: center !important; */

}
.calculator{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    line-height: 22px;
    color: #002d72;
}
.calculator::before{
    background-image: url("../../Assets/calculator.png") !important;

    content: "";
    background-size: contain;
    background-position: center;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 7px;
}
.certificate{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    line-height: 22px;
    color: #002d72;
}
.certificate::before{
    background-image: url("../../Assets/certificate.png") !important;

    content: "";
    background-size: contain;
    background-position: center;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 7px;
}
.euro{
    min-height: 50px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    line-height: 22px;
    color: #002d72;
}
.euro::before{
    background-image: url("../../Assets/pound.png") !important;

    content: "";
    background-size: contain;
    background-position: center;
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 7px;
}
.gifCard::after{
    background-image: url("../../Assets/corner.png") !important;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    position: absolute;
    bottom: -22px;
    left: -0.5px;
}
.secGifCard::before{
    background-image: url("../../Assets/LC.png") !important;
    content: "" !important;
    width: 68px;
    height: 68px;
    position: absolute !important;
    top: -34.5px !important;
    left: -5% !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
    background-size: 35px !important;

}
.secGifCard{
    max-width: 550px !important;
    width: 90% !important;
    background-color: #fcf0ee !important;
    padding: 15px 30px !important;
border-radius: 20px !important;
position: relative !important;
color: #002d72;
}
.secGifCard::after{
    background-image: url("../../Assets/download.svg") !important;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0.5px;
}
.bird{
    transform: translate(200px,35px);
}

.thirdGifCard{
    position: relative !important;
    background-color: #e6f8fc !important;
    max-width: 550px !important;
    width: 100% !important;
    padding: 15px 30px !important;
border-radius: 20px !important;
margin-left: 6rem;
color: #002d72;

}
.thirdGifCard::after{

    background-image: url("../../Assets/corner.svg") !important;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    content: "";
    position: absolute;
    bottom: -22px;
    right: 0;
}

.homepage_welcome_text{
  /* font-family: "Gotham Rounded" !important; */

    text-align: center !important;
    padding-bottom: 4px !important;
    /* margin-top: -12px !important; */
    color: #002d72 !important;
    font-weight: 500 !important;

}

.homepage_mortgage_text{
  /* font-family: "Gotham Rounded" !important; */

    text-align: center !important;
    font-size: 19px !important;
    color: #e56a54 !important;
    font-weight: 500 !important;
}
.homepage_desc_text{
    text-align: center !important;
    padding-bottom: 4px !important;
    font-size: 15px !important;
    color: #002d72 !important;
    font-weight: 300 !important;
}
.homepage_subtext{
    text-align: center !important;
    padding-bottom: 4px !important;
    font-size: 15px !important;
    color: #002d72 !important;
    font-weight: 500 !important;
}
.homepage_button_Grid{
display: flex !important;
justify-content: center !important;
margin-top: 3rem !important;
margin-bottom: 3rem !important;
    text-decoration: none !important;


}
.homepage_button{
background-color: #576baa !important;
color: #ffff !important;
padding: 16px 32px;
    border-radius: 5px;
    width: 200px;
    height: 48px;
    
    /* text-decoration: none !important; */
text-transform: capitalize !important;
}
/*  */
.about_mortgage_box{
    max-width: 550px !important;
    width: 80% !important;
    border-radius: 5px !important;
    background-color: #fff !important; 
}
@media (max-width: 1130px) {
.gifCard{
    margin-left:10rem !important;
}


}
@media (max-width: 1000px) {
    .gifCard{
        margin-left:7rem !important;
    }
    
    
    }
    @media (max-width: 750px) {
        .gifCard{
            margin-left:1rem !important;
        }
        
        
        }