.sidebar_main{
   
        /* height: 875px; */
        background-color: #ffffff;
        height: 93vh;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
      
}
.menu_item{
    padding: 0px 30px;
}
.icone{
    transform: translate(190px,-51px);
    border-radius: 100%;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.48);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.48);

}
.sidebar_text{
    padding: 0 30px;
}
.button_save{
    /* background-color: #002d72 !important; */
    color: #002d72 !important;
    margin-bottom: 20px !important;
        min-height: 38px;
        /* bottom: 40px; */

        position: fixed;
        max-width: 160px;
        margin-left: -105px;
        width: 100%;
        line-height: 27px!important;
        min-width: 76px;
        font-size: 12px!important;
        text-transform: capitalize !important;
}
.button_Certificate{
background-color: #002d72 !important;
color: #fff !important;
margin-bottom: 20px;

    min-height: 38px;
    /* bottom: 20px; */
    position: fixed;
    max-width: 160px;
    margin-left: -105px;
    width: 100%;
    line-height: 27px!important;
    min-width: 76px;
    font-size: 12px!important;
    text-transform: capitalize !important;

}
.text_h4{
    color: #002D72 !important;
    font-size: 17px;
    text-decoration: none !important;
    /* font-family: ""Gotham Rounded ""; */
}
.image {
    height: 28px;
    width: 28px;
  }
  /* .sidebar {
    
  } */
  
  .logo_name {
    display: flex;
    padding-left: 19px;
  }
  .name {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 0.05px;
    padding-left: 7px;
    margin-top: 0px;
    color: #2e3338;
  }
  .menu {
    margin-top: 30px !important;
  }
  .menu_item {
    /* width: 124px; */
    cursor: pointer;
    height: 55px;
    border-radius: 5px;
    /* background-color: #2e3338; */
    padding-left: 22px;
    padding-right: 23px;
    /* display: flex; */
    align-items: center;
    margin-bottom: 8px !important;
  }
  .icone {
    height: 40px;
    width: 40px;
    /* padding-top: 10px !important; */
    color: #ffffff;
  }
  .menu_name {
    padding-left: 13px;
    font-size: 12px;
    font-weight: 600;
    line-height: 14.52px;
    color: #ffffff;
    /* padding-top: 14px !important; */
  }
  .socialmedia_icone {
    margin-top: 580px;
    margin-bottom: 20px;
    padding-left: 45px;
  }
  .socialmedia_picture {
    height: 26px;
    width: 26px;
    padding-right: 7px;
    margin-top: 8px;
  }
  /* @media (max-width: 1100px) and (min-width: 900px) {
    .sidebar_main {
      height: 1665px;
    }
    .socialmedia_icone {
      margin-top: 620px;
    }
  } */
  
  @media (max-width: 1025px) {
    .sidebar_main {
      display: none;
    }
    .socialmedia_icone {
      margin-top: 10px;
      display: flex;
      padding-left: 28px;
    }
    .icone {
      margin-left: 35%;
    }
    .logo_name {
      margin-left: 35%;
      padding-left: 0px;
    }
    .socialmedia_icone {
      margin-left: 35%;
      padding-left: 12px;
    }
  }
  